@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Resident Management</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Resident Management</h2>
        <p>
            Resident Management is a sample application ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/fatiyapici/ResidentManagement">See project source code &raquo;</a></p>
    </div>
</div>