@model ResidentManagement.ViewModels.ApartmentDetailViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Apartment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="IdentityNo" class="control-label"></label>
                <input asp-for="IdentityNo" class="form-control" />
                <span asp-validation-for="IdentityNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentType" class="control-label"></label>
                <select asp-for="ApartmentType" class="form-control">
                    <option disabled selected>Select a Apartment Type.</option>
                    <option value="1+0">1+0</option>
                    <option value="2+0">2+0</option>
                    <option value="3+0">3+0</option>
                    <option value="1+1">1+1</option>
                    <option value="2+1">2+1</option>
                    <option value="3+1">3+1</option>
                    <option value="4+1">4+1</option>
                    <option value="5+1">5+1</option>
                </select>
                <span asp-validation-for="ApartmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option disabled selected>Select a Status.</option>
                    <option value="Full">Full</option>
                    <option value="Empty">Empty</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerOrTenant" class="control-label"></label>
                <select asp-for="OwnerOrTenant" class="form-control">
                    <option disabled selected>Select a Ownership.</option>
                    <option value="Owner">Owner</option>
                    <option value="Tenant">Tenant</option>
                </select>
                <span asp-validation-for="OwnerOrTenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
